:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ccc;
}

/* Wrapper Styles */
.global-content-wrapper {
  min-height: 100vh;
  width: 100%;
  background-image: url(./assets/bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-text-content-wrapper {
  min-height: 400px;
  min-width: 600px;
  background-image: url('./assets/border.png');
  background-size: contain;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

/* Button Styles */
.global-button {
  min-width: 120px;
  padding: 0.8rem 0.5rem;
  background-image: url(/src/assets/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 100%;
  border: none;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

/* Game Screen One */
.intro-container {
  position: relative;
}

.intro-game-pic {
  position: absolute;
  top: 50px;
  left: -80px;
}

.intro-game-pic img {
  height: 300px;
}