:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ccc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol {
  margin: 0;
  padding: 0;
}

/* Wrapper Styles */
.global-content-wrapper {
  min-height: 100vh;
  width: 100%;
  background-image: url(./assets/bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-text-content-wrapper {
  min-height: 400px;
  width: 600px;
  background-image: url('./assets/border.png');
  background-size: contain;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
}

/* Button Styles */
.global-button {
  min-width: 120px;
  padding: 0.8rem 0.5rem;
  background-image: url(/src/assets/button.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 100%;
  border: none;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  cursor: pointer;
}

/* Game Screen One */
.intro-container {
  position: relative;
}

.intro-game-pic {
  position: absolute;
  top: 60px;
  left: -100px;
}

.intro-game-pic img {
  height: 300px;
}

.intro-content-wrapper {
  margin: 3rem 1rem 1rem 8rem;
}

.intro-content {
  color: #fff;
}

.intro-content h1,
.general-heading {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 4px;
  margin: 0.5rem 0;
}

.intro-content p {
  margin: 0.5rem 0 1rem;
  font-size: 14px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.intro-content .label-box {
  display: flex;
  gap: 4rem;
  width: 320px;
  justify-content: space-between;
}

.intro-content .label-light {
  flex: 1;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.intro-content .label-bold {
  flex: 1;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.intro-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 2.5rem;
}

/* Instructions Wrapper Styles */
.instructions-wrapper {
  padding: 2rem 4rem;
  color: #fff;
}

.instructions li {
  font-size: 14px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.instructions-buttons {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}